html[data-theme="dark-classic"] {
  --icon-color:                               #5AE6C5                    !important;  
  --link-color:                               #7A81FF /* TODO */                                    !important;
  --link-visited:                             #C77BFF                                    !important;  
  --background-color:                         #111                                    !important;
  --color:                                    #eee                   !important;
  --h1-color:                                 #fff                    !important;
  --h2-color:                                 #fff                    !important;
  --h3-color:                                 #fff                   !important;
  --h4-color:                                 #fff                   !important;
  --h5-color:                                 #fff                    !important;
  --h6-color:                                 #fff                    !important;
  --muted-color:                              #aaa                    !important;
  --muted-border-color:                       #333                       !important;
  --primary:                                  #4A2FFF                      !important;
  --primary-hover:                            #FCEA2C                    !important;
  --primary-focus:                            #FCEA2C                 !important;
  --primary-inverse:                          rgba(0, 0, 0, 1)                          !important;
  --secondary:                                #ccc                       !important;
  --secondary-hover:                          #fff                    !important;
  --secondary-focus:                          rgba(255, 255, 255, 0.25)                 !important;
  --secondary-inverse:                        rgba(255, 255, 255, 1)                    !important;
  --contrast:                                 rgba(255, 255, 255, 1)                    !important;
  --contrast-hover:                           rgba(255, 255, 255, 1)                    !important;
  --contrast-focus:                           rgba(255, 255, 255, 0.25)                 !important;
  --contrast-border:                          rgba(255, 255, 255, 0.33)                 !important;
  --contrast-inverse:                         rgba(255, 255, 255, 1)                    !important;
  --mark-background-color:                    rgba(255, 255, 255, 0.5)                  !important;
  --mark-color:                               rgba(255, 255, 255, 1)                    !important;
  --ins-color:                                rgba(255, 255, 255, 1)                    !important;
  --del-color:                                rgba(255, 255, 255, 1)                    !important;
  --blockquote-border-color:                  var(--muted-border-color)                 !important;
  --blockquote-footer-color:                  var(--muted-color)                        !important;
  --button-box-shadow:                        0 0 0 rgba(0, 0, 0, 0)                    !important;
  --button-hover-box-shadow:                  0 0 0 rgba(0, 0, 0, 0)                    !important;
  --form-element-background-color:            rgba(0, 0, 0, 1)                          !important;
  --form-element-border-color:                var(--muted-border-color)                    !important;
  --form-element-color:                       var(--color)                              !important;
  --form-element-placeholder-color:           var(--muted-color)                        !important;
  --form-element-active-background-color:     rgba(0, 0, 0, 1)                          !important;
  --form-element-active-border-color:         var(--primary)                            !important;
  --form-element-focus-color:                 var(--primary-focus)                      !important;
  --form-element-disabled-background-color:   rgba(0, 0, 0, 1)                          !important;
  --form-element-disabled-border-color:       rgba(255, 255, 255, 1)                    !important;
  --form-element-disabled-opacity:            0.5                                       !important;
  --form-element-invalid-border-color:        rgba(255, 255, 255, 1)                    !important;
  --form-element-invalid-active-border-color: rgba(255, 255, 255, 1)                    !important;
  --form-element-invalid-focus-color:         rgba(255, 255, 255, 0.125)                !important;
  --form-element-valid-border-color:          rgba(255, 255, 255, 1)                    !important;
  --form-element-valid-active-border-color:   rgba(255, 255, 255, 1)                    !important;
  --form-element-valid-focus-color:           rgba(255, 255, 255, 0.125)                !important;
  --switch-background-color:                  rgba(128, 128, 128, 1)                    !important;
  --switch-color:                             var(--primary-inverse)                    !important;
  --switch-checked-background-color:          var(--primary)                            !important;
  --range-border-color:                       rgba(255, 255, 255, 1)                    !important;
  --range-active-border-color:                rgba(255, 255, 255, 1)                    !important;
  --range-thumb-border-color:                 var(--background-color)                   !important;
  --range-thumb-color:                        var(--secondary)                          !important;
  --range-thumb-hover-color:                  var(--secondary-hover)                    !important;
  --range-thumb-active-color:                 var(--primary)                            !important;
  --table-border-color:                       var(--muted-border-color)                 !important;
  --table-row-stripped-background-color:      rgba(0, 0, 0, 1)                          !important;
  --code-background-color:                    #333 /*rgba(0, 0, 0, 1)*/                          !important;
  --code-color:                               #FCEA2C /*var(--muted-color)*/                        !important;
  --code-kbd-background-color:                var(--contrast)                           !important;
  --code-kbd-color:                           var(--contrast-inverse)                   !important;
  --code-tag-color:                           rgba(255, 255, 255, 1)                    !important;
  --code-property-color:                      rgba(255, 255, 255, 1)                    !important;
  --code-value-color:                         rgba(255, 255, 255, 1)                    !important;
  --code-comment-color:                       rgba(255, 255, 255, 1)                    !important;
  --accordion-border-color:                   var(--muted-border-color)                 !important;
  --accordion-close-summary-color:            var(--color)                              !important;
  --accordion-open-summary-color:             var(--muted-color)                        !important;
  --card-background-color:                    #222                       !important;
  --card-border-color:                        var(--muted-border-color)                 !important;
  --card-box-shadow:                          0 0.125rem 1rem rgba(0, 0, 0, 0.08),
                                              0 0.125rem 2rem rgba(0, 0, 0, 0.04),
                                              0 0 0 0.0625rem rgba(0, 0, 0, 0.1)        !important;
  --card-sectionning-background-color:        rgba(255, 255, 255, 1)                    !important;
  --modal-overlay-background-color:           rgba(255, 255, 255, 0.8)                  !important;
  --progress-background-color:                rgba(255, 255, 255, 1)                    !important;
  --progress-color:                           var(--primary)                            !important;
  --loading-spinner-opacity:                  0.5                                       !important;
  --tooltip-background-color:                 var(--contrast)                           !important;
  --tooltip-color:                            var(--contrast-inverse)                   !important;
}


html[data-theme="light-classic"]{
  --icon-color:                               tomato                    !important;
  --link-color:                               #0433FF /*blue*/                                    !important;
  --link-visited:                             #9437FF /*blue*/                                    !important;
  --background-color:                         white                    !important;
  --color:                                    #222                       !important;
  --h1-color:                                 #111                    !important;
  --h2-color:                                 #111                    !important;
  --h3-color:                                 #111                    !important;
  --h4-color:                                 #111                    !important;
  --h5-color:                                 #111                    !important;
  --h6-color:                                 #111                    !important;
  --muted-color:                              #222                    !important;
  --muted-border-color:                       #eee                    !important;
  --primary:                                  #4A2FFF /*black*/                     !important;
  --primary-hover:                            tomato                                   !important;
  --primary-focus:                            tomato                                   !important;
  --primary-inverse:                          rgba(255, 255, 255, 1)                    !important;
  --secondary:                                rgba(115, 130, 140, 1)                    !important;
  --secondary-hover:                          rgba(65, 84, 98, 1)                       !important;
  --secondary-focus:                          rgba(115, 130, 140, 0.125)                !important;
  --secondary-inverse:                        rgba(255, 255, 255, 1)                    !important;
  --contrast:                                 rgba(44, 61, 73, 1)                       !important;
  --contrast-hover:                           rgba(13, 20, 25, 1)                       !important;
  --contrast-focus:                           rgba(115, 130, 140, 0.125)                !important;
  --contrast-border:                          rgba(255, 223, 128, 0.5)                  !important;
  --contrast-inverse:                         rgba(255, 255, 255, 1)                    !important;
  --mark-background-color:                    rgba(255, 223, 128, 0.5)                  !important;
  --mark-color:                               rgba(44, 61, 73, 1)                       !important;
  --ins-color:                                rgba(56, 142, 60, 1)                      !important;
  --del-color:                                rgba(198, 40, 40, 1)                      !important;
  --blockquote-border-color:                  var(--muted-border-color)                 !important;
  --blockquote-footer-color:                  var(--muted-color)                        !important;
  --button-box-shadow:                        0 0 0 rgba(0, 0, 0, 0)                    !important;
  --button-hover-box-shadow:                  0 0 0 rgba(0, 0, 0, 0)                    !important;
  --form-element-background-color:            rgba(255, 255, 255, 0)                    !important;
  --form-element-border-color:                rgba(200, 209, 216, 1)                    !important;
  --form-element-color:                       var(--color)                              !important;
  --form-element-placeholder-color:           var(--muted-color)                        !important;
  --form-element-active-background-color:     rgba(255, 255, 255, 0)                    !important;
  --form-element-active-border-color:         var(--primary)                            !important;
  --form-element-focus-color:                 var(--primary-focus)                      !important;
  --form-element-disabled-background-color:   rgba(213, 220, 226, 1)                    !important;
  --form-element-disabled-border-color:       rgba(162, 175, 185, 1)                    !important;
  --form-element-disabled-opacity:            0.5                                       !important;
  --form-element-invalid-border-color:        rgba(198, 40, 40, 1)                      !important;
  --form-element-invalid-active-border-color: rgba(211, 47, 47, 1)                      !important;
  --form-element-invalid-focus-color:         rgba(211, 47, 47, 0.125)                  !important;
  --form-element-valid-border-color:          rgba(56, 142, 60, 1)                      !important;
  --form-element-valid-active-border-color:   rgba(67, 160, 71, 1)                      !important;
  --form-element-valid-focus-color:           rgba(67, 160, 71, 0.125)                  !important;
  --switch-background-color:                  rgba(187, 198, 206, 1)                    !important;
  --switch-color:                             var(--primary-inverse)                    !important;
  --switch-checked-background-color:          var(--primary)                            !important;
  --range-border-color:                       rgba(213, 220, 226, 1)                    !important;
  --range-active-border-color:                rgba(187, 198, 206, 1)                    !important;
  --range-thumb-border-color:                 var(--background-color)                   !important;
  --range-thumb-color:                        var(--secondary)                          !important;
  --range-thumb-hover-color:                  var(--secondary-hover)                    !important;
  --range-thumb-active-color:                 var(--primary)                            !important;
  --table-border-color:                       var(--muted-border-color)                 !important;
  --table-row-stripped-background-color:      rgba(246, 248, 249, 1)                    !important;
  --code-background-color:                    rgba(243, 245, 247, 1)                    !important;
  --code-color:                               tomato /*var(--muted-color)*/                        !important;
  --code-kbd-background-color:                var(--contrast)                           !important;
  --code-kbd-color:                           var(--contrast-inverse)                   !important;
  --code-tag-color:                           rgba(179, 77, 128, 1)                     !important;
  --code-property-color:                      rgba(61, 136, 143, 1)                     !important;
  --code-value-color:                         rgba(153, 136, 102, 1)                    !important;
  --code-comment-color:                       rgba(162, 175, 185, 1)                    !important;
  --accordion-border-color:                   var(--muted-border-color)                 !important;
  --accordion-close-summary-color:            var(--color)                              !important;
  --accordion-open-summary-color:             var(--muted-color)                        !important;
  --card-background-color:                    var(--background-color)                   !important;
  --card-border-color:                        var(--muted-border-color)                 !important;
  --card-box-shadow:                          0 0.125rem 1rem rgba(27, 40, 50, 0.04),
                                              0 0.125rem 2rem rgba(27, 40, 50, 0.08),
                                              0 0 0 0.0625rem rgba(27, 40, 50, 0.024)   !important;
  --card-sectionning-background-color:        rgba(251, 251, 252, 1)                    !important;
  --modal-overlay-background-color:           rgba(213, 220, 226, 0.8)                  !important;
  --progress-background-color:                rgba(213, 220, 226, 1)                    !important;
  --progress-color:                           var(--primary)                            !important;
  --loading-spinner-opacity:                  0.5                                       !important;
  --tooltip-background-color:                 var(--contrast)                           !important;
  --tooltip-color:                            var(--contrast-inverse)                   !important;
}

html[data-theme="simple"] {
  --background-color:                         rgba(0, 0, 0, 1)                          !important;
  --color:                                    rgba(255, 255, 255, 1)                    !important;
  --h1-color:                                 rgba(255, 255, 255, 1)                    !important;
  --h2-color:                                 rgba(255, 255, 255, 1)                    !important;
  --h3-color:                                 rgba(255, 255, 255, 1)                    !important;
  --h4-color:                                 rgba(255, 255, 255, 1)                    !important;
  --h5-color:                                 rgba(255, 255, 255, 1)                    !important;
  --h6-color:                                 rgba(255, 255, 255, 1)                    !important;
  --muted-color:                              rgba(255, 255, 255, 1)                    !important;
  --muted-border-color:                       rgba(255, 255, 255, 1)                    !important;
  --primary:                                  rgba(255, 255, 255, 1)                    !important;
  --primary-hover:                            rgba(255, 255, 255, 1)                    !important;
  --primary-focus:                            rgba(255, 255, 255, 0.25)                 !important;
  --primary-inverse:                          rgba(0, 0, 0, 1)                          !important;
  --secondary:                                rgba(255, 255, 255, 1)                    !important;
  --secondary-hover:                          rgba(255, 255, 255, 1)                    !important;
  --secondary-focus:                          rgba(255, 255, 255, 0.25)                 !important;
  --secondary-inverse:                        rgba(255, 255, 255, 1)                    !important;
  --contrast:                                 rgba(255, 255, 255, 1)                    !important;
  --contrast-hover:                           rgba(255, 255, 255, 1)                    !important;
  --contrast-focus:                           rgba(255, 255, 255, 0.25)                 !important;
  --contrast-border:                          rgba(255, 255, 255, 0.33)                 !important;
  --contrast-inverse:                         rgba(255, 255, 255, 1)                    !important;
  --mark-background-color:                    rgba(255, 255, 255, 0.5)                  !important;
  --mark-color:                               rgba(255, 255, 255, 1)                    !important;
  --ins-color:                                rgba(255, 255, 255, 1)                    !important;
  --del-color:                                rgba(255, 255, 255, 1)                    !important;
  --blockquote-border-color:                  var(--muted-border-color)                 !important;
  --blockquote-footer-color:                  var(--muted-color)                        !important;
  --button-box-shadow:                        0 0 0 rgba(0, 0, 0, 0)                    !important;
  --button-hover-box-shadow:                  0 0 0 rgba(0, 0, 0, 0)                    !important;
  --form-element-background-color:            rgba(0, 0, 0, 1)                          !important;
  --form-element-border-color:                rgba(255, 255, 255, 1)                    !important;
  --form-element-color:                       var(--color)                              !important;
  --form-element-placeholder-color:           var(--muted-color)                        !important;
  --form-element-active-background-color:     rgba(0, 0, 0, 1)                          !important;
  --form-element-active-border-color:         var(--primary)                            !important;
  --form-element-focus-color:                 var(--primary-focus)                      !important;
  --form-element-disabled-background-color:   rgba(0, 0, 0, 1)                          !important;
  --form-element-disabled-border-color:       rgba(255, 255, 255, 1)                    !important;
  --form-element-disabled-opacity:            0.5                                       !important;
  --form-element-invalid-border-color:        rgba(255, 255, 255, 1)                    !important;
  --form-element-invalid-active-border-color: rgba(255, 255, 255, 1)                    !important;
  --form-element-invalid-focus-color:         rgba(255, 255, 255, 0.125)                !important;
  --form-element-valid-border-color:          rgba(255, 255, 255, 1)                    !important;
  --form-element-valid-active-border-color:   rgba(255, 255, 255, 1)                    !important;
  --form-element-valid-focus-color:           rgba(255, 255, 255, 0.125)                !important;
  --switch-background-color:                  rgba(128, 128, 128, 1)                    !important;
  --switch-color:                             var(--primary-inverse)                    !important;
  --switch-checked-background-color:          var(--primary)                            !important;
  --range-border-color:                       rgba(255, 255, 255, 1)                    !important;
  --range-active-border-color:                rgba(255, 255, 255, 1)                    !important;
  --range-thumb-border-color:                 var(--background-color)                   !important;
  --range-thumb-color:                        var(--secondary)                          !important;
  --range-thumb-hover-color:                  var(--secondary-hover)                    !important;
  --range-thumb-active-color:                 var(--primary)                            !important;
  --table-border-color:                       var(--muted-border-color)                 !important;
  --table-row-stripped-background-color:      rgba(0, 0, 0, 1)                          !important;
  --code-background-color:                    rgba(0, 0, 0, 1)                          !important;
  --code-color:                               var(--muted-color)                        !important;
  --code-kbd-background-color:                var(--contrast)                           !important;
  --code-kbd-color:                           var(--contrast-inverse)                   !important;
  --code-tag-color:                           rgba(255, 255, 255, 1)                    !important;
  --code-property-color:                      rgba(255, 255, 255, 1)                    !important;
  --code-value-color:                         rgba(255, 255, 255, 1)                    !important;
  --code-comment-color:                       rgba(255, 255, 255, 1)                    !important;
  --accordion-border-color:                   var(--muted-border-color)                 !important;
  --accordion-close-summary-color:            var(--color)                              !important;
  --accordion-open-summary-color:             var(--muted-color)                        !important;
  --card-background-color:                    rgba(32, 32, 32, 1)                       !important;
  --card-border-color:                        var(--muted-border-color)                 !important;
  --card-box-shadow:                          0 0.125rem 1rem rgba(0, 0, 0, 0.08),
                                              0 0.125rem 2rem rgba(0, 0, 0, 0.04),
                                              0 0 0 0.0625rem rgba(0, 0, 0, 0.1)        !important;
  --card-sectionning-background-color:        rgba(255, 255, 255, 1)                    !important;
  --modal-overlay-background-color:           rgba(255, 255, 255, 0.8)                  !important;
  --progress-background-color:                rgba(255, 255, 255, 1)                    !important;
  --progress-color:                           var(--primary)                            !important;
  --loading-spinner-opacity:                  0.5                                       !important;
  --tooltip-background-color:                 var(--contrast)                           !important;
  --tooltip-color:                            var(--contrast-inverse)                   !important;
}
