{{ define "content" }}
  <article id="followFeed">
    <hgroup>
        <h2>{{ tr . "FeedsFollowFeedTitle" }}</h2>
        <h3>{{ tr . "FeedsFollowFeedSummary" }}</h3>
    </hgroup>
    <p>{{ (tr . "FeedsFollowFeedHowToContent") | html }}</p>
    <form id="follow" action="/follow" method="POST">
      <fieldset>
        <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
        <div class="feed-flex">
          <div>
            <input type="url" name="url" placeholder="{{ tr . "FollowFormURL" }}" aria-label="URL" required>
          </div>
          <div>
            <button type="submit" class="primary">{{ tr . "FollowFormFollow" }}</button>
          </div>
        </div>
      </fieldset>
    </form>
  </article>
  <article id="createFeed">
    <hgroup>
      <h2>{{ tr . "FeedsTitle" }}</h2>
      <h3>{{ tr . "FeedsSummary" }}</h3>
    </hgroup>
    <p>{{ (tr . "FeedsHowToContent") | html }}</p>
    <form id="create" action="/feed" method="POST">
      <fieldset>
        <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
        <div class="feed-flex">
          <div>
            <input type="text" name="name" placeholder="{{ tr . "FeedsFormName" }}" aria-label="Username" required />
          </div>
          <div>
            <button type="submit" class="primary">{{ tr . "FeedsFormCreate" }}</button>
          </div>
        </div>
      </fieldset>
    </form>
  </article>
  <article id="myFeed">
    <hgroup>
      <h2>{{ tr . "FeedsMyFeedsTitle" }}</h2>
      <h3>{{ tr . "FeedsMyFeedsSummary" }}</h3>
    </hgroup>
    {{ if .User.Feeds }}
      {{ $ctx:=. }}
      {{ range $idx, $feeds := (chunk 2 .UserFeeds) }}
        {{ range $feeds }}
          <div class="feed-gap">
            <div class="u-author h-card">
              <div>
                <a href="{{ .URL | trimSuffix "/twtxt.txt" }}" class="u-url">
                  <img class="avatar u-photo" src="/user/{{ .Name }}/avatar" alt="" />
                </a>
              </div>
              <div class="author">
                <a href="{{ .URL | trimSuffix "/twtxt.txt" }}" class="p-name">{{ .Name }}</a>
                <div>
                  {{ if $.User.Follows .URL }}
                  <a href="/unfollow?nick={{ .Name }}"><i class="ti ti-circle-minus" aria-hidden="true"></i> {{ tr $ctx "UnfollowLinkTitle" }}</a>
                  {{ else }}
                  <a href="/follow?nick={{ .Name }}&url={{ .URL }}"><i class="ti ti-circle-plus" aria-hidden="true"></i> {{ tr $ctx "FollowLinkTitle" }}</a>
                  {{ end }}
                  <a href="/feed/{{ .Name  }}/manage"><i class="ti ti-tool" aria-hidden="true"></i> {{ tr $ctx "FeedManageLinkTitle" }}</a>
                </div>
              </div>
            </div>
            {{ if .Description }}
              <div class="p-summary">
                {{ .Description }}
              </div>
            {{ end }}
          </div>
        {{ end }}
        {{ if eq (len $feeds) 1 }}
          <div></div>
        {{ end }}
      {{ end }}
    {{ else }}
      <p><small>{{ (tr . "FeedsNoFeedsSummary") | html }}</small></p>
    {{ end }}
  </article>
  <article id="localFeed">
    <hgroup>
      <h2>{{ tr . "FeedsLocalFeedsTitle" }}</h2>
      <h3>{{ tr . "FeedsLocalFeedsSummary" }}</h3>
    </hgroup>
    <p>{{ (tr . "FeedsLocalFeedsContent" (dict "InstanceName" .InstanceName)) | html }}</p>
    {{ $ctx:=. }}
    {{ range $idx, $feeds := (chunk 2 .LocalFeeds) }}
      {{ range $feeds }}
        <div class="feed-gap">
          <div class="u-author h-card">
            <div>
              <a href="{{ .URL | trimSuffix "/twtxt.txt" }}" class="u-url">
                <img class="avatar u-photo" src="/user/{{ .Name }}/avatar" alt="" />
              </a>
            </div>
            <div class="author">
              <a href="{{ .URL | trimSuffix "/twtxt.txt" }}" class="p-name">{{ .Name }}</a>
              <div>
                {{ if $.User.Follows .URL }}
                  <a href="/unfollow?nick={{ .Name  }}"><i class="ti ti-circle-minus" aria-hidden="true"></i> {{ tr $ctx "UnfollowLinkTitle" }}</a>
                {{ else }}
                  <a href="/follow?nick={{ .Name  }}&url={{ .URL }}"><i class="ti ti-circle-plus" aria-hidden="true"></i> {{ tr $ctx "FollowLinkTitle" }}</a>
                {{ end }}
              </div>
            </div>
          </div>
          {{ if .Description }}
            <div class="p-summary">
              {{ .Description }}
            </div>
          {{ end }}
        </div>
      {{ end }}
      {{ if eq (len $feeds) 1 }}
        <div></div>
      {{ end }}
    {{ end }}
  </article>
  <article id="externalFeed">
    <hgroup>
      <h2>{{ tr . "FeedsExternalFeedsTitle" }}</h2>
      <h3>{{ tr . "FeedsExternalFeedsSummary" }}</h3>
    </hgroup>
    {{ $ctx:=. }}
    {{ range $Source, $Feeds := .FeedSources }}
    <details>
    <summary>{{ $Source | prettyURL }}</summary>
      {{ range $Feeds }}
      <div class="feed-gap">
  	    <div class="u-author h-card">
    	    <div>
    	    	{{ if .Avatar }}
    	      	<img class="avatar-full u-photo" src="{{ .Avatar }}" alt="" />
    	      {{ else }}
              <i class="ti ti-rss" style="font-size:3em"></i>
    	      {{ end }}
          </div>
          <div class="author">
            <a href="/external?uri={{ .URL }}&nick={{ .Name  }}" class="p-name">{{ .Name }}</a>
            <div>
              {{ if $.User.Follows .URL }}
                <a href="/unfollow?nick={{ .Name  }}"><i class="ti ti-circle-minus" aria-hidden="true"></i> {{ tr $ctx "UnfollowLinkTitle" }}</a>
              {{ else }}
                <a href="/follow?nick={{ .Name  }}&url={{ .URL }}"><i class="ti ti-circle-plus" aria-hidden="true"></i> {{ tr $ctx "FollowLinkTitle" }}</a>
              {{ end }}
            </div>
          </div>
        </div>
        {{ if .Description }}
          <div class="p-summary">
            {{ .Description }}
          </div>
        {{ end }}
      </div>
      {{ end }}
    </details>
    {{ end }}
  </article>
{{ end }}
