{{ define "content" }}
  <article>
    <hgroup>
      <h2>{{ tr . "FollowingTitle" }}</h2>
      <h3>
        {{ if $.User.Is .Profile.URI }}
          {{ tr . "FollowingFollowingYou" }}
        {{ else }}
          {{ (tr . "FollowingFollowingUser" (dict "Username" .Profile.Nick)) | html }}
        {{ end }}
      </h3>
    </hgroup>
    {{ if .Profile.Following }}
      <ol>
        {{ $ctx:=. }}
        {{ range $f := .Profile.Following }}
          <li>
            {{ if isLocalURL $f.URI }}
              <a href="{{ $f.URI | trimSuffix "/twtxt.txt" }}">
            {{ else }}
              <a href="/external?uri={{ $f.URI }}&nick={{ $f.Nick }}">
            {{ end }}
            {{ if $.User.Is $f.URI }}
              {{ tr $ctx "MeLinkTitle" }}
            {{ else }}
              {{ $f.Nick }}
            {{ end }}
              </a>
            {{ if $.Authenticated }}
              <a class="followBtn" style="display: {{ if not ($.User.Follows $f.URI) }}inline{{ else }}none{{ end }};" href="/follow?nick={{ $f.Nick }}&url={{ $f.URI }}">
                <i class="ti ti-circle-plus"></i>
                {{ tr $ctx "FollowLinkTitle" }}
              </a>
              <a class="unfollowBtn" style="display: {{ if $.User.Follows $f.URI }}inline{{ else }}none{{ end }};" href="/unfollow?nick={{ $f.Nick }}">
                <i class="ti ti-circle-minus"></i>
                {{ tr $ctx "UnfollowLinkTitle" }}
              </a>
            {{ end }}
          </li>
        {{ end }}
      </ol>
    {{ else }}
      <p>
        {{ if $.User.Is .Profile.URI }}
          {{ (tr . "FollowingNoFollowingSummary" (dict "InstanceName" .InstanceName)) | html }}
        {{ else }}
          <b>{{ .Profile.Nick }}</b> {{ tr . "FollowingNoFollowing" }}
        {{ end }}
      </p>
    {{ end }}
  </article>
{{ end }}
