{{ define "content" }}
  <article class="grid">
  	<!-- ensure that we return to the page from where we clicked login -->
  	<script>window.history.replaceState(null, '', document.referrer)</script>
    <div>
      <hgroup>
        <h2>{{ tr . "LoginTitle" }}</h2>
        <p>{{ tr . "LoginSummary" (dict "InstanceName" $.InstanceName) }}</p>
      </hgroup>
      <form action="/login" method="POST">
        <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
        <input type="hidden" name="referer" value="{{ $.Referer }}">
        <input type="text" name="username" placeholder="{{ tr . "LoginFormUsername" }}" aria-label="Username" autocomplete="nickname" autofocus required>
        <input type="password" name="password" placeholder="{{ tr . "LoginFormPassword" }}" aria-label="Password" autocomplete="current-password" required>
        <fieldset>
          <label for="rememberme">
            <input type="checkbox" id="rememberme" name="rememberme">
            {{ tr . "LoginFormRemberMe" }}
          </label>
        </fieldset>
        <button type="submit">{{ tr . "LoginFormLogin" }}</button>
        <p>
        {{ tr . "LoginNoAccountTitle" }}
          {{ if not .RegisterDisabled }}
            <a href="/register">{{ tr . "RegisterLinkTitle" }}</a>
            {{ tr . "Instead" }}
          {{ end }}
        </p>
        <p><a href="/resetPassword">{{ tr . "ResetPasswordLinkTitle" }}</a></p>
        <p><a href="/login/email">{{ tr . "LoginViaEmailAddress" }}</a></p>
      </form>
    </div>
    <div>
      <hgroup>
        <h2>{{ tr . "LoginHowToTitle" }}</h2>
        <p>{{ tr . "LoginHowToSummary" }}</p>
      </hgroup>
      <p>{{ (tr . "LoginHowToContent" (dict "InstanceName" $.InstanceName)) | html }}</p>
      <p>{{ (tr . "ForgottenPasswordContent") | html }}</p>
      <p>{{ (tr . "LoginViaEmailAddressHowToContent") | html }}</p>
    </div>
  </article>
{{ end }}
