{{ define "content" }}
  <article>
    <hgroup>
      <h2>{{ tr . "ResetPasswordFormReset" }}</h2>
      <h3>{{ tr . "ResetPasswordFormResetSummary" }}</h3>
    </hgroup>
    <form action="/newPassword" method="POST">
      <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
      <input type="hidden" name="token" value="{{ .PasswordResetToken }}" />
      <input type="password" name="password" placeholder="{{ tr . "ResetPasswordFormPassword" }}" aria-label="{{ tr . "ResetPasswordFormPassword" }}" autocomplete="current-password" required>
      <button type="submit">{{ tr . "ResetPasswordFormReset" }}</button>
    </form>
  </article>
{{ end }}
