{{ define "content" }}
  {{ if $.Twts }}
    {{ template "twt" (dict "Authenticated" $.Authenticated "User" $.User "Profile" $.Profile "LastTwt" $.LastTwt "Twt" ( $.Twts | first) "Ctx" . "view" "permalink") }}
    {{ template "post" (dict "Authenticated" $.Authenticated "User" $.User "TwtPrompt" $.TwtPrompt "MaxTwtLength" $.MaxTwtLength "Reply" $.Reply "AutoFocus" true "CSRFToken" $.CSRFToken "Ctx" . "view" "permalink") }}
  {{ else }}
    {{ tr . "PermalinkNothingFound" | html }}
  {{ end }}
{{ end }}
