{{ define "content" }}
  <article class="profile-header">
    <a id="profile-avatar" {{ if not (eq $.Profile.Type "External") }}href="{{ $.Profile.URI | trimSuffix "/twtxt.txt" }}"{{ else }}href="/external?uri={{ $.Profile.URI }}&nick={{ $.Profile.Nick }}"{{ end }} class="u-url">
      {{ if .Profile.Muted }}<i class="ti ti-ismuted"></i>{{ else }}<i class="ti"></i>{{ end }}
      {{ if .Profile.Avatar }}
      <img class="avatar u-photo{{ if .Profile.Muted }} ismuted{{ end }}" {{ if not (eq $.Profile.Type "External") }}src="/user/{{ $.Profile.Nick }}/avatar"{{ else }}src="/externalAvatar?uri={{ $.Profile.URI }}"{{ end }} alt="" loading=lazy />
      {{ else }}
      <i class="ti ti-rss" style="font-size:3em"></i>
      {{ end }}
    </a>
    <hgroup>
      <h3>{{ .Profile.Nick }}</h3>
      <h2>{{ .Profile.URI | hostnameFromURL }}</h2>
    </hgroup>
    <p>{{ if gt (len .Profile.Description) 0 }}{{ .Profile.Description }}{{ else }}<em>{{ tr . "ProfileNoDescription" }}</em>{{ end }}</p>
  </article>
  <div class="profile-side{{ if and (eq (len $.Twts) 0) (not .Authenticated) }} na-twt{{ end }}{{ if and (eq (len $.Twts) 0) (.Authenticated) }} nr-twt{{ end }}">
    <article id="profile-info">
      <hgroup>
        <h3>{{ tr . "ProfileInfo" }}</h3>
        <h2><hr></h2>
      </hgroup>
      {{ if and (.Authenticated) (not (eq .Profile.Nick .User.Username)) }}
      <span id="followOpt">
        <a class="followBtn" style="display: {{ if not $.Profile.Follows }}inline{{ else }}none{{ end }} !important;" href="/follow?nick={{ .Profile.Nick  }}&url={{ .Profile.URI }}">
          <i class="ti ti-circle-plus"></i> {{ tr . "FollowLinkTitle" }}
        </a>
        <a class="unfollowBtn" style="display: {{ if $.Profile.Follows }}inline{{ else }}none{{ end }} !important;" href="/unfollow?nick={{ .Profile.Nick  }}">
          <i class="ti ti-circle-minus"></i> {{ tr . "UnfollowLinkTitle" }}
        </a>
      </span>
      {{ end }}
      {{ template "followStats" (dict "Profile" .Profile "Ctx" .) }}
      {{ if .Authenticated }}
      {{ if not (eq .Profile.Nick .User.Username) }}
      {{ if .Profile.Muted }}<span class="profile-muted"><i class="ti ti-volume-3"></i> {{ tr . "ProfileIsMuted" }}</span>{{ end }}
      {{ if not $.Profile.Muted }}<span class="profile-last-seen"><i class="ti ti-clock"></i> {{ tr . "ProfileLastSeen" }} {{ .Profile.LastSeenAt | lastseen }}</span>{{ end }}
      <span id="followStat">
      {{ if .Profile.FollowedBy }}
        <b>{{ .Profile.Nick }}</b> {{ tr . "ProfileFollowsYou" }}
      {{ else }}
        <b>{{ .Profile.Nick }}</b> {{ tr . "ProfileDoesNotFollowYou" }}
      {{ end }}
      </span>
      {{ end }}
      {{ end }}
      {{ if and (.Authenticated) (not (eq .Profile.Nick .User.Username)) }}
      <details>
        <summary><i class="ti ti-urgent"></i>&nbsp;&nbsp;{{ tr . "ProfileToolTitle" }}</summary>
        <p>{{ (tr . "ProfileMuteUser" (dict "InstanceName" .InstanceName)) | html }}</p>
        <span id="muteTool">
          <a class="muteBtn" style="display: {{ if not $.Profile.Muted }}inline{{ else }}none{{ end }} !important;" href="/mute?nick={{ .Profile.Nick }}&url={{ .Profile.URI }}">
            <i class="ti ti-volume-3"></i> {{ tr . "ProfileMuteLinkTitle" }}
          </a>
          <a class="unmuteBtn" style="display: {{ if .Profile.Muted }}inline{{ else }}none{{ end }} !important;" href="/unmute?nick={{ .Profile.Nick }}">
            <i class="ti ti-volume"></i> {{ tr . "ProfileUnmuteLinkTitle" }}
          </a>
        </span>
        <p>{{ (tr . "ProfileReportUser" (dict "InstanceName" .InstanceName)) | html }}</p>
        <span id="reportTool">
          <a href="/report?nick={{ .Profile.Nick  }}&url={{ .Profile.URI }}">
            <i class="ti ti-urgent"></i> {{ tr . "ProfileReportLinkTitle" }}
          </a>
        </span>
      </details>
      {{ end }}
    </article>
    <article id="profile-links">
      <hgroup>
        <h3>{{ tr . "ProfileLinks" }}</h3>
        <h2><hr></h2>
      </hgroup>
      <div>
        <ul>
          {{ template "profileLinks" (dict "Profile" .Profile "Ctx" .) }}
        </ul>
      </div>
    </article>
  </div>
  {{ if .Authenticated }}
  <details id="postToUser"{{ if and (eq (len $.Twts) 0) (.Authenticated) }}class="nr-twt"{{ end }}>
    <summary>Send {{ .Profile.Nick }} a twt</summary>
    {{ template "post" (dict "Authenticated" $.Authenticated "User" $.User "TwtPrompt" $.TwtPrompt "MaxTwtLength" $.MaxTwtLength "PostText" $.PostText "Reply" $.Reply "AutoFocus" false "CSRFToken" $.CSRFToken "Ctx" . "view" "profile") }}
  </details>
  {{ end }}
  {{ if gt (len $.Twts) 0 }}
  <span id="recentTwts">{{ tr . "RecentTwtsSummary" (dict "Username" .Profile.Nick) }}</span>
  {{ template "feed" (dict "Authenticated" $.Authenticated "User" $.User "Profile" $.Profile "LastTwt" $.LastTwt "Pager" $.Pager "Twts" $.Twts "Ctx" . "view" "profile") }}
  {{ end }}
{{ end }}
