{{ define "content" }}
  <article class="grid">
    <div>
      <hgroup>
        <h2>{{ tr . "RegisterTitle" }}</h2>
        <p>{{ tr . "RegisterSummary" (dict "InstanceName" $.InstanceName) }}</p>
      </hgroup>
      <form id="register" action="/register" method="POST">
        <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
        <input type="text" name="username" placeholder="{{ tr . "RegisterFormUsername" }}" aria-label="{{ tr . "RegisterFormUsername" }}" autocomplete="nickname" autofocus required>
        <input type="password" name="password" placeholder="{{ tr . "RegisterFormPassword" }}" aria-label="{{ tr . "RegisterFormPassword" }}" autocomplete="current-password" required>
        <input type="email" name="email" placeholder="{{ tr . "RegisterFormEmailAddress" }}" aria-label="{{ tr . "RegisterFormEmailAddress" }}">
        <small>
            <b>{{ tr . "RegisterFormEmailSummary" }}</b>
        </small>
        <fieldset>
          <label>
            <input id="agree" type="checkbox" name="agree" role="switch">
            {{ (tr . "RegisterFormGuidelines") | html }}
          </label>
        </fieldset>
        <button type="submit">{{ tr . "RegisterFormRegister" }}</button>
        <p>{{ (tr . "RegisterFormLogin") | html }}</p>
      </form>
    </div>
    <div>
      <hgroup>
          <h2>{{ tr . "RegisterHowToTitle" }}</h2>
          <h2>{{ tr . "RegisterHowToSummary" }}</h2>
      </hgroup>
      <p>{{ (tr . "RegisterHowToContent" (dict "InstanceName" $.InstanceName)) | html }}</p>
    </div>
  </article>
{{ end }}
